<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leiaute</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <p>Top 10 layouts mais insanos</p>
        </div>
        


        

    </header>
    <main>
        <div class="container">
            <aside>
                <p>Menu local</p>
            </aside>
            <section>
                
                <h1>Estruturando um Layout com HTML e CSS</h1>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fugit, quae ducimus odit placeat, commodi, suscipit iste dolorem impedit sapiente sequi. Culpa inventore magni laudantium illo nisi iure, quaerat aperiam a, minus excepturi corporis, praesentium ducimus! Illum aliquid reprehenderit facilis nesciunt eaque veritatis vel! Enim necessitatibus dicta aliquam debitis nemo?</p>
                
                <h2>Projetos</h2>
                <div class="projects">

                    <div class="project">
                        <img src="https://avatars.githubusercontent.com/u/1314923?v=4" alt="">
                        Projeto1
                    </div>
                    <div class="project">
                        <img src="" alt="">
                        Projeto2
                    </div>
                    <div class="project">
                        <img src="" alt="">
                        Projeto3
                    </div>
                    <div class="project">
                        Projeto4
                    </div>
                    <div class="project">
                        Projeto5
                    </div>

                </div>
            </section>
            
        </div>    



    </main>
    <footer>
        <div class="container">
            <p>Feito</p>
        </div>
        



    </footer>


</body>
</html>