*{
    margin: 0;
    padding: 0;
    
    
}

.menu{
    height: 100px;
    background-color: #B2D6FF;
}

.sidebar{
    
    width: 200px;
    float: left;
    height: 300px;
    background-color: chocolate;
}
.content{
    
    width:600px;
    float: left;
    height: 500px;
    background-color: darkgoldenrod;
    
}
.footer{
    
    height:200px;
    background-color: aqua;
}
