





body{
    background-color: lawngreen;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;     
}
main p strong,h1 strong,marquee strong{
    color: red;
}
ul li a {
    color: red;
    
}
header ul li{
    display: inline;
}
header ul li a{
    text-decoration: wavy;
    
}

header, main, footer{
    border: dotted orange;
    margin: 25px 10px 50px 10px;
   
}
footer{
    background-color: forestgreen;
}

body main p{
    min-width: 100px;
}